/* ========== Elements ========== */

/* Table of Contents
==================================================
    #Headings
    #Buttons 
*/


/* #Headings
================================================== */

	h1 {
		font-size: 30px;
		font-weight: 400;
		color: #fff;
		line-height: 110%;
		text-shadow: 0px 3px 1px rgba(0, 0, 0, .40);
		filter: dropshadow(color=rgba(0, 0, 0, .40), offx=0, offy=3);
	}
	
	h2 {
		font-size: 24px;
		font-weight: 400;
		color: #093331;
	}
	
	h3 {
		font-size: 18px;
		font-weight: 400;
		color: #093331;
	}
	
	h4 {
		font-size: 16px;
		font-weight: 400;
		color: #093331;
		margin-bottom: 20px;

	}
	
	hr.top, hr.bottom { display: block; border: none; width: 940px; height: 26px; margin: 0; padding: 0; }
	
	hr.top { background: url('../images/separator-top.png') no-repeat; }
	hr.bottom { background: url('../images/separator-bottom.png') no-repeat; }
	

/* #Buttons
================================================== */

	.button {
		display: inline-block;
		outline: none;
		cursor: pointer;
		color: #fff;
		text-align: center;
		text-decoration: none;
		font-size: 18px;
		padding: 15px 40px;
		text-shadow: 0 1px 1px rgba(0,0,0,.3);
		-webkit-border-radius: 5px; 
		-moz-border-radius: 5px;
		border-radius: 5px;
		-webkit-box-shadow: 0 3px 1px rgba(0,0,0,.4), inset 0px 1px 1px rgba(255,255,255,.7);
		-moz-box-shadow: 0 3px 1px rgba(0,0,0,.4), inset 0px 1px 1px rgba(255,255,255,.7);
		box-shadow: 0 3px 1px rgba(0,0,0,.4), inset 0px 1px 1px rgba(255,255,255,.7);
		background: #3d81c8; /* Old browsers */
		background: -moz-linear-gradient(top, #3d81c8 0%, #2c649f 100%); /* FF3.6+ */
		background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#3d81c8), color-stop(100%,#2c649f)); /* Chrome,Safari4+ */
		background: -webkit-linear-gradient(top, #3d81c8 0%,#2c649f 100%); /* Chrome10+,Safari5.1+ */
		background: -o-linear-gradient(top, #3d81c8 0%,#2c649f 100%); /* Opera 11.10+ */
		background: -ms-linear-gradient(top, #3d81c8 0%,#2c649f 100%); /* IE10+ */
		background: linear-gradient(to bottom, #3d81c8 0%,#2c649f 100%); /* W3C */
		filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#3d81c8', endColorstr='#2c649f',GradientType=0 ); /* IE6-9 */
	}
	
	.button:hover {
		color: #fff;
		-webkit-box-shadow: 0 3px 1px rgba(0,0,0,.4), inset 0px 1px 1px rgba(255,255,255,.4);
		-moz-box-shadow: 0 3px 1px rgba(0,0,0,.4), inset 0px 1px 1px rgba(255,255,255,.4);
		box-shadow: 0 3px 1px rgba(0,0,0,.4), inset 0px 1px 1px rgba(255,255,255,.4);
		background: #3d81c8; /* Old browsers */
background: -moz-linear-gradient(top, #3d81c8 0%, #254e84 100%); /* FF3.6+ */
background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#3d81c8), color-stop(100%,#254e84)); /* Chrome,Safari4+ */
background: -webkit-linear-gradient(top, #3d81c8 0%,#254e84 100%); /* Chrome10+,Safari5.1+ */
background: -o-linear-gradient(top, #3d81c8 0%,#254e84 100%); /* Opera 11.10+ */
background: -ms-linear-gradient(top, #3d81c8 0%,#254e84 100%); /* IE10+ */
background: linear-gradient(to bottom, #3d81c8 0%,#254e84 100%); /* W3C */
filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#3d81c8', endColorstr='#254e84',GradientType=0 ); /* IE6-9 */
copy

	}
	
	.button:active {
		color: #fff; 
		position: relative; 
		top: 3px;
		-webkit-box-shadow: inset 0px 1px 1px rgba(255,255,255,.4);
		-moz-box-shadow: inset 0px 1px 1px rgba(255,255,255,.4);
		box-shadow: inset 0px 1px 1px rgba(255,255,255,.4); 
	}
		